<a href="https://colab.research.google.com/github/pamritha25/python/blob/main/python_basics_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a="amritha"
print(a)

amritha

In [ ]:
x ="hello python"
y = 123
z = 1.23
a = True
b = "1234"
print(type(a))

<class 'bool'>

In [ ]:
a=56
b=58
c=a+b
print(c)

114

In [ ]:
a=78
b=12
f=a*b
print(f)

936

In [ ]:
a=780
b=12
c=a/b
print(c)

65.0

In [ ]:
a=560
b=15
c=a%b
print(c)

5

In [ ]:
a=760
b=445
c=a-b
print(c)

315

In [ ]:
x=123
str(x)

'123'

In [ ]:
x=123
float(x)

123.0

In [ ]:
x=18.7
round(x)

19

In [ ]:
x="13434"
y=89765
z=int(x)
a=y+z
print(a)

103199

In [ ]:
x="123"
y=321
f=str(y)
z=f+x
print(z)

321123

In [ ]:
x="helloprogrammer"
print(len(x))

15

In [ ]:
text="hello,good morning"
print("good" in text)

True

In [ ]:
text="is 11 included in 1119"
print("19" in text)

True

In [ ]:
text="The book written by hindir nismul"
print("write"not in text)

True

In [ ]:
text="hello python"
print(text.upper())

HELLO PYTHON

In [ ]:
text="HELLO PYTHON"
print(text.lower())

hello python

In [ ]:
a="                 Hello, world!      "
print(a.strip())#returns "hello, world!"

Hello, world!

In [ ]:
text= "Goodmorning, wmritha"
print(text.replace("w","a"))

Goodmorning, amritha

In [ ]:
age=23
text="My name is john, and I am {}"
print(text.format(age))

My name is john, and I am 23

In [ ]:
text="We are the so called\"46\"from the north."
print(text)

We are the so called"46"from the north.

In [ ]:
age=46
text="My name is niya, and I am {}"
print(text.format(age))

My name is niya, and I am 46

In [ ]:
10==10

True

In [ ]:
10==300

False

In [ ]:
10<8

False

In [ ]:
111>100

True

In [ ]:
print(bool("python"))

True

In [ ]:
print(bool(0))

False

In [ ]:
(bool())

False

In [ ]:
print(bool(123))

True

In [ ]:
x=200
print(isinstance(x,int))

True

In [ ]:
a=5
a+=5
a=a+5
print(a)

10

In [ ]:
x=5;y=6
x+y
import operator
operator.add(5,6)

11

In [ ]:
x=8
y=5
import operator
operator.sub(8,5)

3

In [ ]:
x=2
x*=3
import operator
operator.imul(2,3)

6

In [ ]:
x=36
x/=6
import operator
operator.itruediv(36,6)

6.0

In [ ]:
x=6
x//=5
import operator
operator.ifloordiv(6,5)

1

In [ ]:
x=11
x%=3
import operator
operator.imod(11,3)

2

In [ ]:
x=11
x&=3
import operator
operator.iand(11,3)

3

In [ ]:
x=3
x|=4
import operator
operator.imod(3,4)

3

In [ ]:
x=5
x^=2
import operator
operator.ixor(5,2)

7

In [ ]:
x=5
x>>=2
import operator
operator.irshift(5,2)

1

In [ ]:
x = 5;y = 6
x>1 and y<10

True

In [ ]:
x = 5; y = 6
x>6 or y<10

True

In [ ]:
x= 5
not x>1

False

In [ ]:
x=5
not x<1

True

In [ ]:
x = 5; y = 6
x is y
import operator
operator.is_(x,y)

False

In [ ]:
x=5;y=6
x is y
import operator
operator.is_not(x,y)

True

In [ ]:
nums = [1,2,3,4,5]
1 in nums

True

In [ ]:
nums = [1,2,3,4,5]
import operator
operator.contains(nums,3)

True

In [ ]:
nums=[1,2,3,4,5]
1 not in nums

False

In [ ]:
x=5;y=10
z=x&y
z

0

In [ ]:
Fruits=["apple","orange","watermelon","banana"]
print(Fruits[2])

watermelon

In [ ]:
Fruits=["apple","orange","watermelon","banana"]
print(Fruits[-1])

banana

In [ ]:
Fruits=["apple","orange","watermelon","banana"]
print(Fruits[0:3])

['apple', 'orange', 'watermelon']

In [ ]:
Fruits=["apple","orange","watermelon","banana"]
print(Fruits[:3])

['apple', 'orange', 'watermelon']

In [ ]:
Fruits=["apple","orange","watermelon","banana"]
print(Fruits[1:])

['orange', 'watermelon', 'banana']

In [ ]:
Fruits=["apple","orange","watermelon","banana"]
(Fruits[1:])=["kiwi","avocado"]
print(Fruits)

['apple', 'kiwi', 'avocado']

In [ ]:
Fruits=["apple","orange","watermelon","banana"]
Fruits.insert(2,"mango")
print(Fruits)

['apple', 'orange', 'mango', 'watermelon', 'banana']

In [ ]:
Fruits=["apple","watermelon","banana"]
Fruits.append("orange")
print(Fruits)

['apple', 'watermelon', 'banana', 'orange']

In [ ]:
Fruits=["apple","banana","cherry"]
Fruits2=["mango","pineapple","papaya"]
Fruits.extend(Fruits2)
print(Fruits)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
Fruits=["apple","banana","cherry"]
Fruits.remove("banana")
print(Fruits )

['apple', 'cherry']

In [ ]:
Fruits = ["apple","banana","cherry"]
Fruits.pop(1)
print(Fruits)

['apple', 'cherry']

In [ ]:
Fruits=["apple","banana","cherry"]
del Fruits[1]
print(Fruits)

['apple', 'cherry']

In [ ]:
Fruits=["apple","banana","cherry"]
Fruits.clear()
print("Fruits")

Fruits

In [ ]:
Fruits=["apple","banana","cherry"]
myfruits = Fruits.copy()
print(myfruits)

['apple', 'banana', 'cherry']

In [ ]:
Fruits=("apple","orange","kiwi")
print(Fruits)

('apple', 'orange', 'kiwi')

In [ ]:
Fruits=("apple","orange","kiwi")
print(len(Fruits))

3

In [ ]:
Fruits=("apple","orange","kiwi")
print(type(Fruits))

<class 'tuple'>

In [ ]:
Fruits=("apple", "banana", "cherry")
print(Fruits[1])

banana

In [ ]:
Fruits=("apple","banana","cherry")
print(Fruits[-1])

cherry

In [ ]:
x=("apple","banana","cherry")
y=list(x)
y[1]="watermelon"
x =tuple(y)
print(x)

('apple', 'watermelon', 'cherry')

In [ ]:
fruits={"apple","banana","cherry"}
mylist={"kiwi","orange"}
fruits.update(mylist)
print(fruits)

{'banana', 'orange', 'apple', 'cherry', 'kiwi'}

In [ ]:
fruits={"apple","banana","cherry"}
fruits.remove("cherry")
print(fruits)

{'banana', 'apple'}

In [ ]:
fruits={"apple","banana","cherry"}
fruits.discard("cherry")
print(fruits)

{'banana', 'apple'}

In [ ]:
fruits={"apple","banana","cherry"}
fruits.clear()
print(fruits)

set()

In [ ]:
fruits={"apple","banana","cherry"}
del fruits

In [ ]:
fruits={"apple","banana","cherry"}
x=fruits.pop()
print(x)
print(fruits)

banana
{'apple', 'cherry'}

In [ ]:
set1={"a","b","c"}
set2={1,2,3}
set3=set1.union(set2)
print(set3)

{'b', 1, 2, 3, 'a', 'c'}

In [ ]:
set1={"b","f","c","f"}
set2={1,2,3}
set3=set1.union(set2)
print(set3)

{'b', 1, 2, 3, 'f', 'c'}

In [ ]:
set1={"a","b","c"}
set2={1,2,3}
set1.update(set2)
print(set1)

{'b', 1, 2, 3, 'a', 'c'}

In [ ]:
set1={"a","b","c","b"}
set2={1,2,3}
set1.update(set2)
print(set1)

{'b', 1, 2, 3, 'a', 'c'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
z=x.intersection(y)
print(z)

{'apple'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
x.symmetric_difference_update(y)
print(x)

{'banana', 'google', 'microsoft', 'cherry'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
z=x.symmetric_difference(y)
print(z)

{'cherry', 'banana', 'google', 'microsoft'}

In [ ]:
x={1,2,3,4.5}
y={3,4,5}
y.issubset(x)

False

In [ ]:
x={1,2,3,4.5}
y={3,4,5}
y.isdisjoint(x)

False

In [ ]:
x={1,2,3,4.5}
y={3,4,5}
y.issuperset(x)

False

In [ ]:
x={4,5,6,7,8,}
y={3,4,5,6}
y.issubset(x)

False

In [ ]:
cars={"brand":"BNW","model":"2nd series","year":"2004"}
print(cars)
x=cars.get("model")
print(x)

{'brand': 'BNW', 'model': '2nd series', 'year': '2004'}
2nd series

In [ ]:
cars={"brand":"BNW","model":"2nd series","year":"2004"}
x=cars.keys()
print(x)
x=cars.values()
print(x)

dict_keys(['brand', 'model', 'year'])
dict_values(['BNW', '2nd series', '2004'])

In [ ]:
cars={"brand":"BNW","model":"2nd series","year":"2004"}
x=cars.values()
print(x)#before the change
cars["year"]=2023
print(x)#after the change

dict_values(['BNW', '2nd series', '2004'])
dict_values(['BNW', '2nd series', 2023])

In [ ]:
car={"brand":"ford","model":"mustang","year":"1956"}
x=car.keys()
print(x)#before the change
car["color"]="red"
print(x)#after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [ ]:
car={"brand":"ford","model":"mustang","year":"1956"}
x=car.values()
print(x)#before the change
car["color"]="red"
print(x)#after the change

dict_values(['ford', 'mustang', '1956'])
dict_values(['ford', 'mustang', '1956', 'red'])

In [ ]:
car={"brand":"ford","model":"mustang","year":"1956"}
car.pop("year")

'1956'

In [ ]:
car={"brand":"ford","model":"mustang","year":"1956"}
car.popitem()
print(car)

{'brand': 'ford', 'model': 'mustang'}

In [ ]:
car={"brand":"ford","model":"mustang","year":"1956"}
del car["model"]
print(car)

{'brand': 'ford', 'year': '1956'}

In [ ]:
car={"brand":"ford","model":"mustang","year":"1956"}
car.clear()
print(car)

{}

In [ ]:
thisdict={"brand":"ford","model":"mustang"}
mydict=dict(thisdict)
print(mydict)

{'brand': 'ford', 'model': 'mustang'}

In [ ]:
a=33
b=38
if b>a:

  print("b greater than a")

b greater than a

In [ ]:
a=45
b=45
if b>a:
  print("b greater than a" )
elif a==b:
  print("a and b are equal")

a and b are equal

In [ ]:
a=300
b=45
if b>a:
  print(" b greater than a")
elif a==b:
  print("a and b are equal")
else:
  print("a grater than b")

a grater than b

In [ ]:
a=18
b=23
c=84
if a<b and c>b:
  print("both conditions are true")

both conditions are true

In [ ]:
a=450
b=350
c=850
if a<b or c>a:
  print("c is greater than a")

c is greater than a

In [ ]:
x=60
if x>50:
  print("above fifty")
  if x>80:
    print("and also above eighty")
  else:
    print("but not above 80.")

above fifty
but not above 80.

In [ ]:
a=45
b=32
if a>b:
  pass

In [ ]:

x=34
y=28
if x>y:
  print("x greater than y")

a greater than a

In [ ]:
x=int(input("enter the value"))
y=int(input("enter ths value"))
if x>y:
  print("x is greater than y")
else:
  print("y is greater than x")

enter the value88
enter ths value117
y is greater than x

In [ ]:

a=int(input("enter the mark"))
if a>90:
  print("A+ grade")
elif a>80:
  print("A grade")
elif a>70:
  print("B+ grade")
elif a>60:
  print("B grade")
elif a>50:
  print("C+ grade")
elif a>40:
  print("C grade")
else:
  print(("failed"))

enter the mark80
B+ grade

In [ ]:
x=int(input("enter the value"))
y=int(input("enter the value"))
z=int(input("enter the value"))
if x>y and x>z:
  print("x is greater than y and z")
elif y>z and y>x:
  print( "y is greater than x and z")
else:
  print("z is greater than x and y")

enter the value90
enter the value56
enter the value112
z is greater than x and y

#Practice questions

###Ask the user to enter their age. If the age is 18 or above, display that the user is eligible to vote; otherwise, display that they are not eligible

In [ ]:
x=int(input("enter the age"))
if x<18:
  print("not eligible for voting")
else:
  print("eligible for voting")

enter the age62
eligible for voting

Take a number as input and determine whether it is positive, negative, or zero.

In [ ]:
a=int(input("enter the number"))
if a<0:
  print("negative")
elif a==0:
  print("zero")
else:
  print("positive")

enter the number-5
negative

# Ask the user to enter a number. Write a program to check whether the number is even or odd.

In [ ]:
M=int(input("enter your number"))
if M %2==0:
  print("even number")
else:
  print("odd number")

enter your number23
odd number

## What is 40% of 58400?

In [ ]:

number =58400
percentage = 40

result = (percentage / 100) * number
print(f"{percentage}% of {number} is {result}")

40% of 58400 is 23360.0

In [ ]:

number = 240
percentage = 25

result = (percentage / 100) * number
print(f"{percentage}% of {number} is {result}")

In [ ]:
USERID="amritha"
PASSWORD=187002
BALANCE=2500
USERID1=input("enter your userid")
PASSWORD1=int(input("enter your password"))

if USERID1==USERID and PASSWORD==PASSWORD:
  x=int(input("enter the amount"))
  print("proceed")
  if x>=BALANCE:
    print("unsufficient bank balance")
  elif x<=0:
    print("enter proper amount")
  number =58400
percentage = 40

result = (percentage / 100) * number
print(f"{percentage}% of {number} is {result}")

enter your useridamritha
enter your password187002
enter the amount800
proceed
BALANCE is 1700

# Write a program that takes a number as input and prints whether the number is divisible by 3 or not.

In [ ]:
w=int(input("enter the number"))
if w%3==0:
  print("divisible by 3")
else:
  print("not divisible by 3")

enter the number10
not divisible by 3

Write a program that takes the temperature as input and prints:

"Hot" if temperature is above 30 degrees,

"Warm" if temperature is between 20 and 30 degrees (inclusive),

"Cold" if temperature is below 20 degrees.

In [ ]:
x=int(input("enter the temperature"))
if x>30:
  print("hot")
elif x<20:
  print("cold")
else:
  x=20-30
  print("warm")

enter the temperature24
warm

# To check leap year

In [ ]:
C=int(input("enter the year"))
if (C%4==0 and C%100 !=0) or (C%400==0):
  print("leap year")
else:
  print("not a leap year")

enter the year2100
not a leap year

# LOOPING STATEMENTS

In [ ]:
l=0
while l<4:
  l+=1
  print(l)
  continue

1
2
3
4

In [ ]:
l=0
while l<4:
  l+=1
  print(l)
  break

1

In [ ]:
a="loop in python"
i=0

while i<len(a):
   i+=1
   pass
print("value of i:",i)

value of i: 14

print all letters except "y and"o"

In [ ]:
i=0
a="loops in python"
while i < len(a):
  if a[i]=="p" or a[i]=="t":
    i+=1
    continue
  print("current letter:",a[i])
  i+=1

current letter: l
current letter: o
current letter: o
current letter: s
current letter:
current letter: i
current letter: n
current letter:
current letter: y
current letter: h
current letter: o
current letter: n

In [ ]:
a="mega marathon rail"
i=0
while i <len(a):
  if a[i]=="m" or a[i]=="r":
    i+=1
    continue
  print("current letter:",a[i])
  i+=1

current letter: e
current letter: g
current letter: a
current letter:
current letter: a
current letter: a
current letter: t
current letter: h
current letter: o
current letter: n
current letter:
current letter: a
current letter: i
current letter: l

# break the loop as soon it sees "p"

In [ ]:
i=0
a="loops in python"
while i < len(a):
  if a[i]=="p" :
    i+=1
    break
  print("current letter:",a[i])
  i+=1

current letter: l
current letter: o
current letter: o

# while-else loop

In [ ]:
i=0
while i<4:
  i+=1
  print(i)
else:
  print("no break \n")

1
2
3
4
no break

In [ ]:
i=0
while i<4:
  i+=1
  print(i)
  break
else:
  print("no break \n")

1

# for loops

In [ ]:
print("list iteration")
I=["hello","for","python"]#iterating over a list
for i in I:
  print(i)

list iteration
hello
for
python

In [ ]:
print("\nTuple iteration")
I=["hello","for","python"]#iterating over a tuple
for i in I:
  print(i)

Tuple iteration
hello
for
python

In [ ]:
print("\ndictionary iteration")
d=dict()
d["x,y,z"]=123
d["a,b,c"]=345
for i in d:
  print("%s,%d"%(i,d[i]))

dictionary iteration
x,y,z,123
a,b,c,345

# loop control **statements**

In [ ]:
for x in"python developer":
  if x=="e"or x=="o":
    continue
  print("current letter:",x)

current letter: p
current letter: y
current letter: t
current letter: h
current letter: n
current letter:
current letter: d
current letter: v
current letter: l
current letter: p
current letter: r

In [ ]:
for x in"python developer":
  if x=="e"or x=="o":
    break
  print("current letter:",x)

current letter: p
current letter: y
current letter: t
current letter: h

In [ ]:
for x in"python developer":
    pass

print("last letter:",x)

last letter: r

# Range

In [ ]:
#printing a number
for i in range(1,11,2):
  print(i,end="")
print()

13579

In [ ]:
#printing a number
for i in range(20):
  print(i,end="" )

012345678910111213141516171819

In [ ]:
l=[10,20,30,40]
for i in range(len(l)):
  print(l[i] ,end="")
print()

10203040

In [ ]:
sum=0
for i in range(1,11):
  sum=sum+i
print("sum of first 10 natural number:",sum)

sum of first 10 natural number: 55

In [ ]:
sum=0
for I in range (3,11):
  sum=sum+I
print("sum of natural numbers:",sum)

sum of natural numbers: 52

# foor loop practice questions

Print Numbers 1 to 10

In [ ]:
for i in range(1,11):
  print(i,end="")
print()

12345678910

Print Even Numbers from 1 to 20
# New Section

In [ ]:

for i in range(2,20,2):
  print(i,end="")
print()

24681012141618

# Calculate the sum of numbers from 1 to 10 using a for loop.

In [ ]:
sum=0
for i in range(1,11):
  sum=sum+i
print("sum of 10 natural numbers:",sum)

sum of 10 natural numbers: 55

# Use a for loop to count how many vowels are in a given string.

In [ ]:
x="avengers on intermission"
vowels="aeiou"
count=0
for i in x:
  if i in vowels:
    count=count+1
print(count)

9

# Print Numbers in Reverse (10 to 1)

In [ ]:
for i in range(10,0,-1):
  print(i,end="")
  print()

10
9
8
7
6
5
4
3
2
1

Use a for loop to check if a number is prime.

In [ ]:
x=int(input("enter the number"))
for i in range (2,x):
  if x%2==0:
    print("not a prime number")
    break
else:
  print("prime number")

enter the number5
prime number

In [ ]:
x="anshif"
y=x[::-1]
y

'fihsna'

In [ ]:
x=input("enter the string")
if x ==x[::-1]:
  print("palindrome")
else:
  print("not a palindrome")

enter the stringmalayalam
palindrome

# Create a Multiplication Table

In [ ]:
x=int(input("enter the number"))
for i in range(1,11):
  res=i*x
  print(i,"x",x,"=",res)

enter the number2
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

In [ ]:
x=int(input("enter the number"))
for i in range(1,11):
  res=i*x
  print(i,"x",x,"=",res)

enter the number5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

In [ ]:
x=int(input("enter the number"))
for i in range(1,16):
  mul=i*x
  print(i,"x",x,"=",mul)

enter the number9
1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90
11 x 9 = 99
12 x 9 = 108
13 x 9 = 117
14 x 9 = 126
15 x 9 = 135

# Calculate Factorial of a Number

In [ ]:
x=int(input("enter the number"))

a=1
for i in range(1,x+1):
  a=a*i
print(a)

enter the number5
120

In [ ]:
x=input("enter the string")
for i in range(len(x)):
  print(x[i])

enter the stringqwerty
q
w
e
r
t
y

# Calculate the sum of numbers from 1 to 100.

In [ ]:
sum=0
for i in range(1,101):
  sum=sum+i
print("sum of 100 natural numbers:",sum)

sum of 100 natural numbers: 5050

# perfect numbers

In [ ]:
x=int(input("enter number: "))
sum=0
for i in range(1,x):
  if x%i==0:
    sum=sum+i
if sum==x:
  print("perfect number")
else:
  print('not a perfect number')

enter number: 7
not a perfect number

To find largest number

In [ ]:
a=[1,67,34,12,56]
largest=0
for x in a:
  if x >largest:
    largest=x
print("The largest number is:",largest)

The largest number is: 67

In [ ]:
a=[1,45,46]
largest=0
for x in a:
  if x>largest:
    largest=x
print("the largest number is:",largest)

the largest number is: 46

To find lowest number

In [ ]:
a=[5,67,34,12,56]
smallest=max(a)
for x in a:
  if x <smallest:
    smallest=x
print("The smallest number is:",smallest)

The smallest number is: 5

 find gcd of two numbers? example: 10,5 = 5, 24,36 =12

In [ ]:
x=int(input("enter the number"))
y=int(input("enter the number"))
z=1
for i in range(1,x+1):
  if x%i==0 and y%i==0:
        z=i
print(z)

enter the number24
enter the number36
12

# python Functions

In [ ]:
def sum(a,b):
  s=a+b
  print(s)
sum(2,3)

5

In [ ]:
def hello():
  print("welcome to ipcs")
hello()

welcome to ipcs

In [ ]:
def evenorodd(x):
  if x%2==0:
    print("even")
  else:
    print("odd")
evenorodd(13)
evenorodd(6)

odd
even

In [ ]:
def myfun(x,y=50):
  print("x:",x)
  print("y:",y)
myfun(10)

x: 10
y: 50

In [ ]:
myfun(49,89)

x: 49
y: 89

In [ ]:
def student(firstname,lastname):
  print(firstname,lastname)
student(firstname="amritha",lastname="p")

amritha p

In [ ]:
def myfun(*kids):
  print("the youngest child is"+kids[2])
myfun("emil","jackson","hudha")

the youngest child ishudha

In [ ]:
def myfun(*kids):
  print("the youngest child is"+kids[0])
myfun("emil","jackson","hudha")

the youngest child isemil

In [ ]:
def myfunction(*argu):
  for x in argu:
    print(x)
myfunction("my world")

my world

In [ ]:
def my_function(**student):
  print("His first name is"+student["fname"])
my_function(fname="niya",iname="s")

His first name isniya

In [ ]:
def my_fun(**kwargs):
  for key,value in kwargs.items():
    print("%s==%s"%(key,value))
my_fun(first="welcome",mid="for",last="course")

first==welcome
mid==for
last==course

In [ ]:
def my_function(country="norway"):
  print("iam from"+country)
my_function("sweden")

iam fromsweden

In [ ]:
def my_function(country="norway"):
  print("iam from"+country)
my_function("china")

iam fromchina

In [ ]:
def my_function(country="norway"):
  print("iam from"+country)
my_function()

iam fromnorway

TO CODE ALL IN LISTS

In [ ]:
def myfun(xyz):
  for x in xyz:
    print(x)
fruits=["apple","banana","cherry"]
myfun(fruits)

apple
banana
cherry

CODE SPECIFIED ONE

In [ ]:
def myfun(xyz):
  print(xyz)
fruits=["apple","banana","cherry"]
myfun(fruits[2])

cherry

TO FIND SQAURE

In [ ]:
def square_value(num):
  return num**2
print(square_value(2))
print(square_value(8))

4
64

To find cube

In [ ]:
def cube_value(num):
  return num**3
print(cube_value(2))
print(cube_value(8))

8
512

# code change to different index positions

In [ ]:
def myfuncton(x):
  x[0]=3

lst=[12,30,45,67,90]
myfunction(lst)
print(lst)

[3, 30, 45, 67, 90]

In [ ]:
def f1():
  s= "i love python"
def f2():
  print(s)
  f1()
  f2()

# functions with in **functions**

In [ ]:
def f1():
  s = "i love python"
  def f2():
    print(s)
  f2()
f1()

i love python

# **python lambda**

In [ ]:
y="hello python"
(lambda x: print (y))(x)

hello python

# difference between normal cell and lambda cell

In [ ]:
def cube(y):
  return y*y*y;
g=lambda x:x*x*x
print(g(5))
print(cube(5))

125
125

# **lambda**

In [ ]:
g=lambda x:x*x*x
print(g(5))

125

# **normal cell**

In [ ]:
def cube(y):
  return y*y*y
print(cube(5))

125

In [ ]:
def power (n):
  return lambda a:a**n
base=power(2)
print("now power is set to 2")
print("6 power of 2=",base(6))
base=power(5)
print("now power is set to 5")
print("8 power of 5=",base(8))

now power is set to 2
6 power of 2= 36
now power is set to 5
8 power of 5= 32768

In [ ]:
a=[100,2,8,60,5,4,3,31,10,11]
filtered=filter(lambda x:x%2==0,a)
print(list(filtered))
maped=map(lambda x:x%2==0,a)
print(list(maped))

[100, 2, 8, 60, 4, 10]
[True, True, True, True, False, True, False, False, True, False]

# **global and local** **variables**

In [ ]:
def myfunction():
  print(s)#not printed s
  #because not calling that function,so it is local varibale(printing value inside the function)

In [ ]:
def myfunction():
  s= " i love python"#local function:inside the function
  print(s)
myfunction()
s="hello"#global function:outside the function
print(s)

 i love python
hello

In [ ]:
def my_function():
 s="me too"
 print(s)
my_function()

me too

In [ ]:
a=1
def f():
  print("inside f:",a)
print("global:",a)
def g():
  a=2
  print("inside g:",a)
g()
def h():
  a=3
  print("inside h:",a)
h()

global: 1
inside g: 2
inside h: 3

# first class functions in python -New Section

In [ ]:
def shout(text):#1.functions are objects
  return text.upper()
print(shout("hello"))
yell=shout
print(yell("python"))

HELLO
PYTHON

In [ ]:
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()
def greet(func):
  greeting=func("hi iam learning python ")#functions can be passed as arguments to other functions
greet(shout)
greet(whisper)

HI IAM LEARNING PYTHON
hi iam learning python

In [ ]:
def create_adder(x):
  def adder(y):
    return x+y
  return adder
add_15=create_adder(15)
print(add_15(10))

25

In [ ]:
def create_adder(x):
  def adder(y):
    return x+y
  return adder
add_15=create_adder(15)
print(add_15(10))

150

In [ ]:
def create_adder(x):
  def adder(y):
    return x%y
  return adder
add_15=create_adder(15)
print(add_15(10))

5

### RECURSIVE FUNCTION:#PROCESS OF DEFINING SOMETHING IN TERMS ITSELF

In [ ]:
def calc_factorial(x):
  if x==1:
    return 1
  else:
    return(x*calc_factorial(x-1))
num=4
print( "the factorial of", num,"is",calc_factorial(num))

the factorial of 4 is 24

# modules and packages-class and object